$icon-size: 55px;
$dark-overlay: rgba(0,0,0,0.7);

body{
    overflow-x: hidden;
}

.navbar{
    .nav-link{
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .nav-item.active{
        border-left: #444 3px solid;
    }
}

.carousel-item{
    height: 450px;
}

.fa{
    font-size: $icon-size;
}

.dark-overlay{
    position: absolute;
    background-color: $dark-overlay;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer#main-footer{
    background: #000;
    color: #fff;
}

#about{
    img{
        margin-top: -50px;
    }
}

#faq{
    .card{
        border: #444;
        a{
            color: #fff;
            text-decoration: none;
        }
    }

    .card-body, .card-header{
        background: #333;
    }
}
