body {
  overflow-x: hidden;
  background: rgba(1, 13, 35, 0.7);
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important; }

.navbar .nav-item.active {
  border-left: #444 3px solid; }

.carousel-item {
  height: 450px; }

.container>#showcase {
  margin-top: 2%;
}

div>.carousel-content {
  background-color: #e0e0d1;
}

.header-game-name {
  margin-top: 20%;
}

.game-description {
  margin-top: 5%;
  margin-right: 35%;
}

.header-btn {
  float: right;
  margin-right: 50%;
  margin-top: 15%;
}

.fa {
  font-size: 55px; }

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/header_background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff; }

.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

footer#main-footer {
  background: #000;
  color: #fff; }

#about img {
  margin-top: -50px; }

#faq .card {
  border: #444; }
  #faq .card a {
    color: #fff;
    text-decoration: none; }

#faq .card-body, #faq .card-header {
  background: #333; }
